.container{
  display: flex;
  margin: 4px;
}
.LeftSection{
  margin: 2px;
}
.MiddleSection{
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.body{
  background-color: color;
}